@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


body{
font-family: 'Bad Script', cursive;
font-size: 17px;
line-height: 1.6;
padding: 0;
margin: 0;
}
#video-container {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/cover.jpeg"); 
    background-position: center;
    background-size: cover;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
#cover {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

#content {
    opacity: 0;
    left: -100%;
    transition: opacity 900ms ease-in;
    transition-delay: 300ms;
}
.show-time #content {
    opacity: 1;
    left: 0;
}
#middle {
    opacity: 0;
    left: -100%;
    transition: opacity 900ms ease-in;
    transition-delay: 550ms;
}
.show-time #middle {
    opacity: 1;
    left: 0;
}
#header {
    color: rgb(232, 209, 235);
    min-height: 500px;
    margin-top: 40px;
}
h1 {
    font-size: 70px;
}
#h1p {
    font: bold;
    font-size: 45px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
#modp {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

#input {
    margin-bottom: 5px;
}

#middle {
    margin: auto;
    width: 85%;
    min-height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

#mainfoot {
    border-top: 2px solid seashell;
    padding: 5px;
    color: seashell;
}
#modal-2 {
    background-image: url(images/projects.jpg);
    background-size: cover;
    background-position: center;
}
#modal-3 {
    background-image: url(images/intro.jpg);
    background-size: cover;
    background-position: center;
}
#modal-4 {
    background-image: url(images/email.jpg);
    background-size: cover;
    background-position: start;
}

.modal-content{
    margin: 30% auto;
    padding: 20px;
    width: 80%;
    animation-name: modalopen;
    animation-duration: 2s;
}
.modal-header {
    padding: 15px;
    text-align: start;
}
.closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
@keyframes modalopen {
    from{opacity: 0}
    to {opacity: 1}
}